$header-text-color: #cc9562;
$header-text-color-white: #cdcdcd;
$red-color: #700707;
$gray-color: #636363;
$header-data-heigth: 72px;
$contact-number-font-size: 28px;
$center-width: 960px;

@font-face {
    font-family: oranienbaum;
    src: url(../fonts/oranienbaum.ttf);
}

@font-face {
    font-family: rodeoc;
    src: url(../fonts/rodeoc.otf) format("opentype");
}

body {
    margin: 0px;
    font-family: oranienbaum
}

.content-center {
    margin: 0px auto;
    width: $center-width;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #ecedee
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: $header-text-color;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $header-text-color;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
}