.file-loader {
    .file-loader-canvas {
        width: 500px;
        height: 500px;
        border: 5px solid black;

        .file-loader-interface {
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }
    }

    .dragable {
        background: #808080;
    }
}