<div class="content content-center">
	<div class="item">© 2017 «Вернисаж»</div>
	<div class="item">
		Ул. Древняя, 11, 1 Этаж, 2 Этаж<br />
		С 9.00 до 20.00
	</div>
	<div class="item" align="right">
		8 (8422) 41 80 44<br />
		<a href="#">info@verniasaj.ru</a><br />
		<a href="#">Мы Вконтакте</a>
	</div>
</div>

