<div class="content-center">
	<div class="data">
		<div class="logo">
			<a href="#"><img src="~/images/shared/header/vernisage-logo.png" /></a>
			<div class="logo-caption">cеть ювелирных салонов</div>
		</div>
		<div class="social">
			<div class="container">
				<a href="#" class="facebook"><img src="~/images/shared/header/social-facebook.png" /></a><br>
				<a href="#" class="vkontakte"><img src="~/images/shared/header/social-vkontakte.png" /></a>
			</div>
		</div>
		<div class="contact">
			<div class="number"><span class="code">8 (8422)</span> 41-80-44</div>
			<a href="#" class="mail">info@vernisaj.ru</a>
		</div>
	</div>
	<div class="menu">
		<div class="items">
			<div class="current item">
				<a href="#">Главная</a>
				<span class="delimetr">|</span>
			</div>
			<div class="item">
				<a href="#">Каталог</a>
				<span class="delimetr">|</span>
			</div>
			<div class="item">
				<a href="#">Акции и скидки</a>
				<span class="delimetr">|</span>
			</div>
			<div class="item">
				<a href="#">Статьи</a>
				<span class="delimetr">|</span>
			</div>
			<div class="item">
				<a href="#">Контакты</a>
			</div>
		</div>
		<div class="search">
			<a href="#" class="find"><img src="~/images/shared/header/search.png"></a>
			<input type="text" class="input" placeholder="поиск">
			<a href="#" class="enter"><img src="~/images/shared/header/enter.png"></a>
		</div>
	</div>
</div>

