@{
	Layout = "~/Views/Index.cshtml";
	ViewBag.Title = "Отладка";
}

<div id="vue-test">
	<input v-model="result.value">
	<br>
	<custom-select :items="items" :result="result"></custom-select>
	<br>
	<br>
	<custom-select :items="items1" :result="result1"></custom-select>
	<br>
	<button v-on:click="generateItems">Сгенерировать значение для 2 select</button>
	<file-loader></file-loader>
</div>

